body{
    font-family: sans-serif;
    color: rgb(44, 70, 95);
}
h1{
    color: rgb(24, 40, 54);
}
a {
    color: rgb(130, 15, 238);
    font-weight: bold;
    text-decoration: none;
}/* Globally */

/* Each state */

a:visited {
    color: rgb(130, 15, 238);
}

a:hover {
    color: rgb(186, 112, 255);
}